<script>

  function checkPassword() {
    password1 = document.getElementById("password").value;
    password2 =  document.getElementById("repassword").value;

    if (password1 == ''){
      alert ("Vui lòng nhập mật khẩu");
      return false;
    }

    else if (password2 == ''){
      alert (" \n" +
        "Vui lòng nhập mật khẩu xác nhận");
      return false;
    }

    else if (password1 != password2) {
      alert ("\nMật khẩu không khớp: Vui lòng thử lại ")
      return false;
    }

    else{
      return true;
    }
  }
</script>
<body>

<form name="form" class="form-group" (ngSubmit)="f.form.valid && createNewUser()" #f="ngForm" novalidate>


  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->

  <div class="container register">
    <div class="row">
      <div class="col-md-3 register-left">
        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
        <h3>Welcome</h3>
        <p>
          You are only 30 seconds away from making a beautiful home!</p>
        <input type="submit" name="" routerLink="/login" value="Login"/>
      </div>
      <div class="col-md-9 register-right">
        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
               aria-controls="home" aria-selected="true">Employee</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
               aria-controls="profile" aria-selected="false">Hirer</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <h3 class="register-heading">Register account</h3>
            <div class="row register-form">
              <div class="col-md-6">
                <div class="form-group">
                  <input name="fullName" type="text" class="form-control" id="fullName" placeholder="Full Name *"
                         [(ngModel)]="form.fullName" #fullName="ngModel" required="required">
                </div>
                <div *ngIf="f.submitted && fullName.invalid">
                  <div *ngIf="fullName.errors?.required" class="text-danger">Vui lòng nhập tên đầy đủ</div>
                </div>

                <div class="form-group">
                  <input name="username" type="text" class="form-control" id="username" placeholder="User Name *"
                         [(ngModel)]="form.username" #username="ngModel" required="required">
                </div>
                <div *ngIf="f.submitted && username.invalid">
                  <div *ngIf="username.errors?.required" class="text-danger">Vui lòng nhập tên đăng nhập</div>
                </div>

                <div class="form-group">
                  <input name="password" type="password" class="form-control" id="password1" placeholder="Password *"
                         [(ngModel)]="form.password" #password="ngModel" required="required" minlength="6">
                </div>
                <div *ngIf="f.submitted && password.invalid">
                  <div *ngIf="password.errors?.required" class="text-danger">Vui lòng nhập mật khẩu </div>
                  <div *ngIf="password.errors?.minlength" class="text-danger">Vui lòng nhập mật khẩu trên 6 kí tự</div>

                </div>
                <div class="form-group">
                  <input name="repassword" type="text" class="form-control" id="password2" placeholder="Repassword *"
                         [(ngModel)]="form.repassword" #repassword="ngModel" required="required">
                </div>
                <div *ngIf="f.submitted && repassword.invalid">
                  <div *ngIf="repassword.errors?.required" class="text-danger">Vui lòng nhập mật khẩu xác nhận</div>
                </div>

              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input name="email" type="text" class="form-control" id="email" placeholder="Email *"
                         [(ngModel)]="form.email" #email="ngModel" required="required">
                </div>
                <div *ngIf="f.submitted && email.invalid">
                  <div *ngIf="email.errors?.required" class="text-danger">Vui lòng nhập email</div>
                </div>
                <div class="form-group">
                  <input name="phoneNumber" type="text" class="form-control" id="phoneNumber" placeholder="Phone Number *"
                         [(ngModel)]="form.phoneNumber" #phoneNumber="ngModel" required="required" minlength="10" maxlength="11">
                </div>
                <div *ngIf="f.submitted && phoneNumber.invalid">
                  <div *ngIf="phoneNumber.errors?.required" class="text-danger">Vui lòng nhập đúng số điện thoại</div>
                  <div *ngIf="phoneNumber.errors?.minlength" class="text-danger">Vui lòng nhập đúng số điện thoại </div>
                  <div *ngIf="phoneNumber.errors?.maxlength" class="text-danger">Vui lòng nhập đúng số điện thoại </div>
                </div>
                <div class="form-group">
                  <input name="address" type="text" class="form-control" id="address" placeholder="Address *"
                         [(ngModel)]="form.address" #address="ngModel" required="required">
                </div>
                <div *ngIf="f.submitted && address.invalid">
                  <div *ngIf="address.errors?.required" class="text-danger">Vui lòng nhập  địa chỉ</div>
                </div>
                <button type="submit" onclick="return checkPassword()" class="btnRegister" >Register</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</form>

</body>


