<button class="badge-light"><a  routerLink="create">Đăng kí</a ></button>
<button  class="btnRegister" onclick="return confirm('Bạn muốn đăng xuất ?');"  (click)="logout()">Đăng xuất</button>

<table class="table table-striped" border="1px">
  <tr style="background: #ffff56">
    <td>id</td>
    <td>fullname</td>
    <td>username</td>
    <td>password</td>
    <td>email</td>
    <td>phone</td>
    <td>address</td>
  </tr>
  <tr *ngFor="let user of user  ">
    <td>{{user.id}}</td>
    <td>{{user.fullName}}</td>
    <td>{{user.username}}</td>
    <td>{{user.password}}</td>
    <td>{{user.email}}</td>
    <td>{{user.phoneNumber}}</td>
    <td>{{user.address}}</td>
  </tr>


</table>
