<h1 class="h4 text-gray-900 mb-4">Xin chào!!!</h1>
<form class="user" [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="form-group">
    <input type="tel" class="form-control form-control-user"
           id="username" aria-describedby="emailHelp"
           placeholder="Nhập vào tên đăng nhập" formControlName="username">
  </div>
  <div class="form-group">
    <input type="password" class="form-control form-control-user"
           id="password" placeholder="Nhập vào mật khẩu" formControlName="password">
  </div>
  <div class="form-group">
    <div class="custom-control custom-checkbox small">
      <input type="checkbox" class="custom-control-input" id="customCheck">
      <label class="custom-control-label" for="customCheck">Ghi nhớ đăng nhập</label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-user btn-block">
    Login
  </button>
</form>
<button ><a routerLink="create">Đăng kí</a></button>

