<body>

<form name="form" class="form-group" (ngSubmit)="f.form.valid && updateUser(user.id)" #f="ngForm" novalidate>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="view-account">
    <section class="module">
      <div class="module-inner">
        <div class="side-bar">
          <div class="user-info">
            <img class="img-profile img-circle img-responsive center-block" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
            <ul class="meta list list-unstyled">
              <li class="activity" style="color: red">{{user.fullName}}</li>
            </ul>
          </div>
          <nav class="side-menu">
            <ul class="nav">
              <li class="active"><a href="#"><span class="fa fa-user"></span> Profile</a></li>
              <li><a href="#"><span class="fa fa-cog"></span> Settings</a></li>
              <li><a href="#"><span class="fa fa-credit-card"></span> Billing</a></li>
              <li><a href="#"><span class="fa fa-envelope"></span> Messages</a></li>

              <li><a href="user-drive.html"><span class="fa fa-th"></span> Drive</a></li>
              <li><a href="#"><span class="fa fa-clock-o"></span> Reminders</a></li>
            </ul>
          </nav>
        </div>
        <div class="content-panel">
          <h1 class="title">Profile<span class="pro-label label label-warning"></span></h1>
            <fieldset class="fieldset">
              <h3 class="fieldset-title">Personal Info</h3>
              <div class="form-group avatar">
                <figure class="figure col-md-2 col-sm-3 col-xs-12">
                  <img class="img-rounded img-responsive" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                </figure>

              </div>


              <div class="form-group">
                <label class="col-md-2 col-sm-3 col-xs-12 control-label">Full Name</label>
                <div class="col-md-10 col-sm-9 col-xs-12">
                  <input name="fullName" type="text" class="form-control" id="fullName" placeholder="Full Name *"
                         [(ngModel)]="user.fullName" #fullName="ngModel" required="required">
                </div>

                <div *ngIf="f.submitted && fullName.invalid">
                  <div *ngIf="fullName.errors?.required" class="text-danger">Vui lòng nhập tên đầy đủ</div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 col-sm-3 col-xs-12 control-label">Address</label>
                <div class="col-md-10 col-sm-9 col-xs-12">
                  <input name="address" type="text" class="form-control" id="address" placeholder="Address *"
                         [(ngModel)]="user.address" #address="ngModel" required="required">
                </div>
                <div *ngIf="f.submitted && address.invalid">
                  <div *ngIf="address.errors?.required" class="text-danger">Vui lòng nhập  địa chỉ</div>
                </div>
              </div>
            </fieldset>
            <fieldset class="fieldset">
              <h3 class="fieldset-title">Contact Info</h3>
              <div class="form-group">
                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Email</label>
                <div class="col-md-10 col-sm-9 col-xs-12">
                  <input name="email" type="text" class="form-control" id="email" placeholder="Email *"
                         [(ngModel)]="user.email" #email="ngModel" required="required">                </div>
                <div *ngIf="f.submitted && email.invalid">
                  <div *ngIf="email.errors?.required" class="text-danger">Vui lòng nhập email</div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2  col-sm-3 col-xs-12 control-label">Phone Number</label>
                <div class="col-md-10 col-sm-9 col-xs-12">
                  <input name="phoneNumber" type="text" class="form-control" id="phoneNumber" placeholder="Phone Number *"
                         [(ngModel)]="user.phoneNumber" #phoneNumber="ngModel" required="required" minlength="10" maxlength="11">
                </div>
                <div *ngIf="f.submitted && phoneNumber.invalid">
                  <div *ngIf="phoneNumber.errors?.required" class="text-danger">Vui lòng nhập đúng số điện thoại</div>
                  <div *ngIf="phoneNumber.errors?.minlength" class="text-danger">Vui lòng nhập đúng số điện thoại </div>
                  <div *ngIf="phoneNumber.errors?.maxlength" class="text-danger">Vui lòng nhập đúng số điện thoại </div>
                </div>
              </div>

            </fieldset>
            <hr>
            <div class="form-group">
              <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
              </div>
            </div>
            <button class="badge-success" type="submit" >Cập nhật</button>

        </div>
      </div>
    </section>
  </div>
</div>
</form>
</body>
